# Pin configuration for Lattice ICE40HX1K-STICK-EVN board

# Trace signals ; J1 pin 1 is 3.3V, pin 2 is GND
set_io traceDin[0]	81	# J2 pin 4
set_io traceDin[1]	80	# J2 pin 3
set_io traceDin[2]	79	# J2 pin 2
set_io traceDin[3]	78	# J2 pin 1
set_io traceClk		87	# J2 pin 7

# UART connection to PC
set_io uartrx		9	# RX pin to FTDI
set_io uarttx		8	# TX pin to FTDI
set_io cts		4	# CTSn pin to FTDI

# SPI connection to PC
set_io spitx            68      # SPI MISO
set_io spirx            67      # SPI MOSI
set_io spiclk           70      # SPI CLK
#set_io rstIn			# SPI CS pin of FT2232H
set_io spisel		71	# SPI CS pin of FT2232H

# Oscillator clock for FPGA PLL
set_io clkIn		21	# connected to 12 MHz xtal

# LEDs
set_io sync_led		96	# LED D5 (green)
set_io txInd_led	97	# LED D3 (red)
set_io txOvf_led	98	# LED D2 (red)
set_io heartbeat_led	95	# LED D4 (red)

# SWD connections
set_io swdpin           90      # SWD io J2 pin 9
set_io swdclkpin        91      # SWD Clk J2 pin 10

# scope channels (non-standard)
set_io yellow		88      # J2 pin 8
set_io green		112     # J1 pin 3
set_io blue		113     # J1 pin 4


